<h1>Are you sure you want to delete this record?</h1>

<% render 'showForm' %>

<%= link_to 'Delete', service_logger_path(@service_logger), method: :delete, class:"btn btn-primary" %>
<%= link_to "Previous", service_logger_index_path, class:"btn btn-primary" %>