<% content_for(:html_title) { 'Service Logger' } %>

<h1>Log Hours</h1>

<%= render 'form', book: @service, action: :update %>

<%= link_to("Home", {controller: "home", action: "index"}) %>
<br/>
<%= link_to("Points Tracker", {controller: "point_tracker", action: "tracker"}) %>