<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300;800&display=swap');

      body {
        font-family: sans-serif;
        /* background-color: #81d4fa; */
        background-image: url("https://media.istockphoto.com/photos/empty-gray-studio-room-used-as-background-for-display-your-products-picture-id913062234?k=20&m=913062234&s=612x612&w=0&h=dJ8lsrW_xbu6IvN7wK5rHnMqIYdquNbl5fYebUiYYuc=");
        /* font-weight: bold; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      header{
        font-family: 'Architects Daughter', cursive;
        font-size: 5rem;
        padding-bottom: 7.5rem;
        text-align: center;
      }

      .flex-container {
        display: flex;
      }

      .flex-child {
        flex: 1;
        font-family: 'Montserrat', sans-serif;
        text-align: center; 
      }  
      
      .btn:link,
      .btn:visited {
          text-transform: uppercase;
          text-decoration: none;
          padding: 15px 40px;
          display: inline-block;
          border-radius: 100px;
          transition: all .2s;
          position: absolute;
      }
      
      .btn:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      
      .btn:active {
          transform: translateY(-1px);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
      
      .btn-white {
          background-color: #d1d1d1;
          color: #777;
      }
      
      .btn::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: 100px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .4s;
      }
      
      .btn-white::after {
          background-color: #fff;
      }
      
      .btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
      
      .btn-animated {
          animation: moveInBottom 5s ease-out;
          animation-fill-mode: backwards;
      }
    </style>

    <div style="margin-top:3vh; text-align:center; font-size:30px">
      <% if flash.any? %>
        <% flash.each do |key, value| -%>
          <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
        <% end -%>
      <% end %>
    </div>

    <title>Century Men's Society</title>
    <link rel="icon" href="https://static.wixstatic.com/media/824189_dec9a71d425542d1923d14bd631a2a35~mv2.png/v1/crop/x_37,y_0,w_539,h_527/fill/w_44,h_43,al_c,q_85,usm_0.66_1.00_0.01/LOGOwhite.webp">
  </head>
  <body>
    <header>
      <%# <img src="https://static.wixstatic.com/media/824189_dec9a71d425542d1923d14bd631a2a35~mv2.png/v1/crop/x_37,y_0,w_539,h_527/fill/w_44,h_43,al_c,q_85,usm_0.66_1.00_0.01/LOGOwhite.webp" alt=""> %>
      CENTURY MENS SOCIETY
    </header>

    <section class="flex-container context">
      <div class="flex-child" style="font-size: 3.3rem;">
        <p><span style="color: ">H</span>UMILITY</p>
        <p>LOYALTY</p>
        <p>SERVICE</p>
        <span style="color: maroon">TRADITION</span>
      </div>

      <div class="flex-child">
        <div style="text-align:center;">
          <img src="/assets/logo.png" class="img-fluid" alt="CMS logo">
        </div>
        <div style="text-align:center; margin-left:-250px;">
          <%= link_to "Login with Google", member_google_oauth2_omniauth_authorize_path, {class: 'btn btn-7 btn-7b btn-white btn-animate', style: 'font-weight: 500'} %>
        </div>    
      </div>
    </section>
  </body>
</html>