<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="blink">
      
      <% if flash.any? %>
        <% flash.each do |key, value| -%>
          <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
        <% end -%>
      <% end %>
    </div>

    <%= stylesheet_link_tag 'logins.css' %>

    <title>Century Men's Society</title>
  </head>

  <body>
    <header>
      CENTURY MENS SOCIETY
    </header>

    <section class="flex-container">
      <div class="flex-child moto-left">
        <p>HUMILITY</p>
        <p>LOYALTY</p>
        <p>SERVICE</p>
        <p style="color: maroon">TRADITION</p>
      </div>

      <div class="flex-child">
        <div class="right-logo" >
          <img src="/assets/logo.png" class="img-fluid" alt="CMS logo">
        </div>
        <div class="login-button">
          <%= link_to "Login with Google", member_google_oauth2_omniauth_authorize_path, {class: 'btn btn-7 btn-7b btn-white btn-animate'} %>
        </div>    
      </div>
    </section>
  </body>
</html>