<table class="table table-striped" summary="Whitelist">
  <tr>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  <% users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td>
        <div><%= link_to("Delete", delete_whitelist_path(user), :class => 'action delete') %></div>
      </td>
    </tr>
  <% end %>
</table>