<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@700&display=swap');

    h1{
      font-family: 'Archivo Black', sans-serif;
      text-align: center;
      margin-bottom: 5rem;
    }

    .form-buttons{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-top: 5rem;
      text-align: center;
    }
  </style>
  <body>
    <div class="mt-5 container whitelists index">
      <h1>Whitelisted Users</h1>
      <%= render :partial => 'table', locals: { users: @users, attended: true } %>
      <div class="form-buttons">
        <%= link_to("Add New User", new_whitelist_path, :class => "btn btn-primary action new") %>
      </div>
    </div>    
  </body>
</html>