<% content_for(:html_title) { 'Whitelist User' } %>

<%= link_to("<< Back to List", whitelists_path, :class => 'back-link') %>


<div class="whitelists container new">
  <h2>Whitelist User</h2>

  <%= form_for(@user, :url => whitelists_path, :method => 'post') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="mx-3 form-buttons">
      <%= f.submit "Whitelist User", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
