<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="667216188575-unrfv7glk20cbjchansu69uqt5hka527.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <%= google_sign_in_button 'Sign in with my Google account', proceed_to: create_login_url %>

    <%= google_sign_in_button image_tag('google_logo.png', alt: 'Google'), proceed_to: create_login_url %>
    
    <%= google_sign_in_button proceed_to: create_login_url do %>
      Sign in with my <%= image_tag('google_logo.png', alt: 'Google') %> account
    <% end %>
  </body>
</html>