<% content_for(:html_title) { 'Home' } %>

<h1>This is the service hours logger page :-)</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et nisl eget massa tincidunt sagittis vitae ut magna. Sed molestie convallis tristique. Morbi aliquam quam ac justo placerat, sit amet feugiat nunc molestie. Vivamus at augue nec massa semper luctus sit amet vel quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris venenatis a nisl sit amet placerat. In bibendum, velit sit amet ornare feugiat, neque ipsum mollis sem, in vulputate dolor est non nisl. Ut facilisis diam porta mi fermentum, at consequat felis tincidunt. Fusce lobortis erat risus, sit amet laoreet lacus porta at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut dui diam. </p>

<%= link_to("Service Logger", {controller: "service_logger", action: "service"}) %>
<br/>
<%= link_to("Points Tracker", {controller: "point_tracker", action: "tracker"}) %>