<% content_for(:html_title) { 'Home' } %>

<h1>This is the home page :-)</h1>

<%= link_to("Service Logger", {controller: "service_logger", action: "service"}) %>
<br/>
<%= link_to("Points Tracker", {controller: "point_tracker", action: "tracker"}) %>