<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="667216188575-unrfv7glk20cbjchansu69uqt5hka527.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <style>
      .divider:after,
      .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
      }

      .loginbutton{
        width: 100%;
        height: 50px;
        background-color: CornflowerBlue;
        color: white;
        font-weight: bold;
        box-shadow: 1px 1px 1px grey;
      }

      .g-signin2{
        width: 100%;
        margin: auto;
      }

      .g-signin2 > div{
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <section class="vh-100">
      <div class="container py-5 h-100">
      
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="/assets/logo.png" class="img-fluid" alt="CMS logo">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" placeholder="email@tamu.edu" id="form1Example13" class="form-control form-control-lg" />
                
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" placeholder="password" id="form1Example23" class="form-control form-control-lg" />
              </div>

              <div class="d-flex justify-content-around align-items-center mb-4">
                <!-- Checkbox -->
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="form1Example3"
                    checked
                  />
                  <label class="form-check-label" for="form1Example3"> Remember me </label>
                </div>
                <a href="#!">Forgot password?</a>
              </div>

              <!-- Submit button -->
              <button type="submit" class="loginbutton">Sign in</button>

              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
              </div>

              <div class="g-signin2" data-onsuccess="onSignIn" 
                data-theme="dark" data-width="250" data-height="50" data-longtitle="true">button</div>

            </form>
          </div>
        </div>
      </div>
    </section>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        window.alert("Registered email: " + profile.getEmail());
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>

    <a href="#" onclick="signOut();">Sign out</a>
    <script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    </script>
  </body>
</html>