<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
</style>
<body>
  <div class="events edit" style="text-align:center">
    <h2>Delete Event</h2>

    <%= form_for(@event, :method => 'delete') do |f| %>
      <p>Are you sure you want to permanently delete this event?</p>
      <div class="form-buttons">
        <%= f.submit "DELETE", class: "btn btn-primary" %>
        <%= link_to("BACK", events_path, :class => 'back-link btn btn-primary') %>
      </div>

    <% end %>
  </div>
</body>
</html>


