<% content_for(:html_title) { 'Events' } %>

<div class="events index">
  <h2>Events</h2>
  
  <%= link_to("Add New Event", new_event_path, :class => 'action new') %>


  <h3>Upcoming</h3>
    <%= render :partial => 'table', locals: { events: @upcoming_events } %>

  <h3>Past</h3>
    <%= render :partial => 'table', locals: { events: @past_events } %>


</div>
