<% content_for(:html_title) { 'Points Tracker' } %>

<h1>This is the point tracker page :-)</h1>


<!-- <%= link_to("Home", {controller: "home", action: "index"}) %> -->
<br/>

<title>0 points</title>

<div>
<p>Service Hours</p>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Number of Hours</th>
      <th>Approved</th>
    </tr>
  </thead>

 
</table>
<%= link_to("Log New Service Event", {controller: "service_logger", action: "service"}) %>
</div>

<div>
<p>Events</p>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Mandatory</th>
    </tr>
  </thead>  
</table>
</div>