<% content_for(:html_title) { 'Members' } %>
<meta charset="UTF-8">
<style>
@media (max-width: 1000px) {
      .col.left{
        margin-right: 0rem;
      }
  
      .col.right{
        margin-left: 0rem;
      }

      h1{
      
      font-size: 8vw;
    }
    th{
      width: 20%;
      
    }
    tr{
      font-size: 2.01vw;
    }
}
</style>

<div class="mt-5 container home index">

  <h1 class="lead-1">Members</h1>
  
  <%= render :partial => 'table', locals: { members: @members } %>
  
  <hr>



</div>
