@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body {
    font-family: 'Rubik', sans-serif;
    height: 100% !important;
    background-color: #F8F9FB !important
}

.container-fluid {
    margin-top: 320px;
    color: #000 !important
}

.card {
    background-color: #F8F9FB !important
}

p {
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
    display: flex
}

h3 {
    font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.color-text {
    color: #757575 !important
}

button {
    font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
    background-color: #2CA6FB !important;
    padding-left: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

footer {
    color: #caced1 !important
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-secondary {
    font-size: large;
    font-weight: bold;
}

.Careers {
    cursor: pointer;
    color: #1E88E5
}

.row-1 {
    background-color: #1E242A !important
}

.row-2 {
    background-color: #28323C !important
}

.nav {
    text-align: center;
    font-weight: 600;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    paddin: 0;
}

.nav a {
    padding: .5em .8em;
    color: rgba(255, 255, 255, .5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav a:hover {
    color: #3DA35D;
}