

    <footer class="mt-auto container-footer">
        <div style="max-width: 100%; overflow-x: hidden;">
            <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 ps-3">
                <div class="col-12">
                    <div class="row row-2">
                        <div class="col-sm-3 text-md-center">
                            <h5><span> <i class="fa fa-firefox text-light" aria-hidden="true"></i></span><b></b></h5>
                        </div>
                        <div class="col-sm-3 my-sm-0 mt-5">
                            <ul class="nav">
                                <li class="mt-0">
                                     <%= link_to "Terms of Service", tos_path, class: "nav-link"  %>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 my-sm-0 mt-5">
                            <ul class="nav">
                                <li class="mt-0">
                                <%= link_to "Privacy and Policy", privacy_path, class: "nav-link"  %>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 my-sm-0 mt-5">
                            <ul class="nav">
                                <li class="mt-0">
                                     <%= link_to "Help", help_path, class: "nav-link"  %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 ps-sm-3 ps-2">
                <div class="col-12">
                    <div class="row my-4 row-1 no-gutters">
                        <div class="col-sm-3 col-auto text-center"><small>&#9400; Century Mens Society</small></div>
                        <div class="col-md-3 col-auto "></div>
                        <div class="col-md-3 col-auto"></div>
                        <div class="col my-auto text-md-left text-right "> <small> centuries-points-tracker.herokuapp.com <span><img src="https://i.imgur.com/TtB6MDc.png" class="img-fluid " width="25"></span> <span><img src="https://i.imgur.com/N90KDYM.png" class="img-fluid " width="25"></span></small> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
