
<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <div class="row my-5 justify-content-center">
        <div class="col text-center">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="mb-4"></h3>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4 col">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-footer">
        <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
            <div class="col-12">
                <div class="row row-2">
                    <div class="col-sm-3 text-md-center">
                        <h5><span> <i class="fa fa-firefox text-light" aria-hidden="true"></i></span><b> Points Tracker</b></h5>
                    </div>
                    <div class="col-sm-3 my-sm-0 mt-5">
                        <ul class="nav">
                            <%# <li class="mt-0">Term & condition</li> %>
                            <li>
                                <%# <%= link_to "Term & condition", services_path  %> 
                                <p><a style="text-decoration:none" href="#"  class="text-secondary" >Term & condition</a></p>
                            </li>
                            <%# <li>Security</li>  %>
                        </ul>
                    </div>
                    <%# <div class="col-sm-3 my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <li class="mt-0">Privacy and Policy</li>
                            <li>Use Cases</li>
                            <li>Customers Services</li>
                        </ul>
                    </div> %>
                    <%# <div class="col-sm-3 my-sm-0 mt-5">
                        <ul class="list-unstyled">
                            <li class="mt-0">Company</li>
                            <li>About</li>
                            <li>Careers- <span class="Careers">We're-hiring</span></li>
                        </ul>
                    </div> %>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center"><small>&#9400; Century Mens Society</small></div>
                    <div class="col-md-3 col-auto "></div>
                    <div class="col-md-3 col-auto"></div>
                    <div class="col my-auto text-md-left text-right "> <small> centuries-points-tracker.herokuapp.com <span><img src="https://i.imgur.com/TtB6MDc.png" class="img-fluid " width="25"></span> <span><img src="https://i.imgur.com/N90KDYM.png" class="img-fluid " width="25"></span></small> </div>
                </div>
            </div>
        </div>
    </footer>
</div>
