<div>
  <nav>
    <ul>
    <li>Century Mens Society</li>
    <li><%= link_to "Home", point_tracker_tracker_url %></li>
    <li><%= link_to "Service Hours", service_logger_index_path %></li>
    <li><%= link_to "Events", events_path %></li>
    </ul>
  </nav>
</div>